nav {
  padding: 10px;
  position: sticky;
  top: 0;
  background-color: var(--bg);
  height: 10vh;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.hami {
  cursor: pointer;
}
.line {
  margin: 5px;
  width: 35px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--panel);
}
.icon {
  display: grid;
  place-items: center;
}
.logo {
  height: 50px;
}
#nav-tap {
  position: absolute;
  top: 10vh;
  left: 0;
  height: 90vh;
  width: 100%;
  background-color: var(--bg);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hide-tab {
  transform: translateX(-100%);
  opacity: 0;
}

.tab-list {
  list-style: none;
  text-align: center;
  width: 100%;
}
.tab-link {
  padding: 10px 0;
  font-size: 30px;
  font-weight: bold;
}
.tab-link:hover {
  background-color: #ffffff2a;
}
